<?xml version="1.0"?>
<appSettings>

    <!-- Cloud Storage -->
    <add key="cloudUserId" value="CLOUD_USER_ID"/>
    <add key="cloudApiKey" value="CLOUD_API_KEY"/>
    <add key="cloudContainerPrivate" value="CLOUD_PRIVATE_CONTAINER"/>
    <add key="cloudContainerPublic" value="CLOUD_PUBLIC_CONTAINER"/>
    <add key="cloudStorageHost" value="http://CLOUD_USER_ID:CLOUD_API_KEY@storage.cloudfiles.com"/>
    
    <!-- Network Storage -->
    <add key="networkStoragePath" value="C:/temp/"/>
    <add key="networkTempFolderName" value="uploaded-files-temp"/>
    
    <!-- Encoding Service -->
    <add key="encodingUserId" value="ENCODING_USER_ID"/>
    <add key="encodingApiKey" value="ENCODING_API_KEY"/>
    <add key="encodingApiUrl" value="http://manage.encoding.com/"/>
    
</appSettings>
